@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.05em;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login-poster{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/img/register-background.jpg');
}
.login-poster-container{
    width: 30vw;
    padding: 30px;
    background-color: white;
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 20px;
    width: 50vw;
}
.register-top-text{
    padding-top: 30px;
    padding-bottom: 30px;
}
input{
    padding: 10px;
    border: none;
    border-bottom: 1px #1e1e1e solid;
    margin-top: 40px;
    width: 45vw;

}
.reg-submit{
    margin-top: 30px;
    background-color: #192e59;
    border: none;
    padding: 10px ;
    border-radius: 5px;
    color: white;
    width: 45vw;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    outline: none;
    transition: 0.3s;
    border: none;
}
.reg-submit:hover{
    background-color: #192e5900;
    color: #192e59;
    border: 1px #192e59 solid;
}
.alert{
    border-right: 3px red solid;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 50px;
    right: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.202);
    transition: 0.3s;
    opacity: 0;
    z-index: 1;
}
.reg-back{
    /* background-color: red; */
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    width: 95%;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.join-waitlist{
    display: none;
}