
@media screen and (max-width: 480px) {
    .burger{
        display: flex;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1;
        width: 30px ;
        background-color: rgba(0, 0, 0, 0);
        outline: none;
        border: none;
        z-index: 2;
    }
    .burger i{
        color: white;
        font-size: 30px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        background-color: #192e59;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 0vw;
        padding: 0vw;
        height: 100vh;
        justify-content: right;
        align-items: flex-end;
        padding-top: 0px;
        transition: 0.5s;
        overflow: hidden;
    }
    .navbar ul{
        display: flex;
        flex-direction: column-reverse;
    }
    .navbar ul li{
        list-style: none;
        text-align: right;
        margin-top: 20px;
    }
    .navbar ul li a{
        color: white;
        text-decoration: none;
    }
    .header-top{
        flex-direction: column;
    }
    .header-top p:last-child{
        padding-left: 0px;
    }
    .header-bottom{
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -20px;
    }
    .header-b-left-title P{
        font-size: 12px;
    }
    .header-b-left-title:last-child{
        font-size: 8px;
    }
    .header-bottom img{
        width: 50px ;
        height: 50px;
        margin-right: 10px;
    }

    .header-b-right ul{
        display: none;
    }
    .hero{
       background-position-x: -570px;
    }
    .Hero-1{
        font-size: 10px;
        margin-bottom: 0px;
    }
    .Hero-2{
        font-size: 50px;
        text-align: center;
    }
    .Hero-3{
        margin-top: 10px;
        font-size: 15px;
        width: 60vw;
        text-align: center;
    }
    .quotes{
        flex-direction: column;
        background-image: none;
        height: auto;
    }
    .box{
        max-width: 100vw;
        display: flex;
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100vw;
        height: 150px;
        /* color: red; */
    }

    .box1{
        background-image: url('./assets/img/box-1.jpeg');
    }
    .box2{
        background-image: url('./assets/img/box-2.jpeg');
    }
    .box3{
        background-image: url('./assets/img/box-3.jpeg');
    }
    .box4{
        background-image: url('./assets/img/box-4.jpeg');
    }
    .about{
        background-color: #1e2d4a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .about h3{
        width: 100vw;
        font-size: 30px;
        text-align: center;
    }
    .about-right{
        width: 80vw;
        text-align: center;
        margin-top: 30px;
        font-size: 14px;
    }

    .news-bottom{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-right: 0px;
    }
    .footor-left-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footor-left-top-right{
        text-align: center;
        margin-bottom: 10px;
    }
    .footor-left-bottom{
        text-align: center;
    }
    .footor-right{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
    }


    .copywrite{
        background-color: #181818;
        text-align: center;
        font-size: smaller;
        font-weight: 100;
        padding: 40px;
    }
    .login-poster{
        display: none;
    }
    .login-container{
        width: 100vw;
    }
    input{
        width: 80vw;
    }
    button{
        width: 80vw;
    }
    .news-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .news-box p{
        text-align: center;
    }
    .news-img{
        width: 100%;
    }
    .join-waitlist{
        display: flex;
    }
    .container{
        background-image: url('./assets/img/register-background.jpg');
    }
    .login-container{
        background-color: white;
        border-radius: 10px;
        width: 80vw;
        margin: 5vw;
    }
  }