@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    color: white;
}
a{
    text-decoration: none;
}
.header-top{
    background-color: #192e59;
    padding: 20px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}
.burger{
    display: none;
}
.navbar{
    display: none;
}
.header-top p{
    font-size: small;
}
.header-top p:last-child{
    padding-left: 40px;
}
.header-bottom{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-bottom img{
    width: 80px ;
    height: 80px;
    margin-right: 20px;
}
.header-b-left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.header-b-right ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.register{
    color: white;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3db166;
    height: 70px;
    margin-right: 40px;
    margin-left: 20px;
}

.header-b-right ul li{
    list-style: none;
    padding: 10px;
    text-decoration: none;
}

.header-b-right ul li a{
    color: black;
    font-size: 14px;
}
.header-b-left{
    margin-left: 40px;
}

footer{
    background-color: #181818;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
}
.footor-left-top{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.footor-left-top-left img{
    width: 100px;
}
.footor-left-bottom{
    font-size: smaller;
    font-weight: 100;
}
.footor-right{
    width: 400px;
}
.footor-right h4{
    max-width: 100px;
    padding-left: 5px;
    border-bottom: 1px #3db166 solid;
}
.footor-right ul{
    margin-top: 10px;
}
.footor-right ul li{
    list-style: none;
    margin-top: 10px;
}
.footor-right ul li a{
    text-decoration: none;
    color: white;
}
.copywrite{
    background-color: #181818;
    text-align: center;
    font-size: smaller;
    font-weight: 100;
    padding: 20px;
}
.hero{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/img/hero-background.png");
}
.Hero-1{
    font-size: 30px;
    margin-bottom: -15px;
}
.Hero-2{
    font-size: 100px;
    font-family: 'Playfair Display', serif;
}
.Hero-3{
    font-size: 30px;
    font-family: "Instrument Serif", serif;
    font-style: italic;
}
.quotes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./assets/img/section-2-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
}
.box{
    max-width: 25vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.quotes-box-heading{
    font-weight: 700;
    font-size: 20px;
}
.quotes-box-sub{
    font-size: smaller;
}
.box p{
    text-align: center;
}
.about{
    background-color: #1e2d4a;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    padding-top: 90px;
    padding-bottom: 90px;
}
.about h3{
    width: 33vw;
    color: #3db166;
}
.about-right{
    width: 50vw;
}
.about-right a{
    text-decoration: none;
    color: white;
    font-size: smaller;
}
.news{
    color: #192e59;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.news-top{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.news-top p{
    font-size: 25px;
    margin-right: 20px;
}
.news-top-right{
    background-color: black;
    height: 2px;
    display: flex;
    flex: 1;
}
.news-bottom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.news-learn-more{
    color: #3db166;
}
.news-box-heading{
    font-size: 25px;
    font-weight: 600;
}

